<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerel Anime</title>
</head>

<body>
    <form method="post">
        имя
        <br>
        <input type="text" name="name_of_product">
        <br>
        ссылка на картинку
        <br>
        <input type="text" name="image">
        <br>
        цена(число)
        <br>
        <input type="number" name="price">
        <br>
        <button type="submit">submit</button>
    </form>
</body>

</html>