<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>Kerel Anime</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <ul class="nav">
                <li class="nav-item">
                    <a href="../" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="../delivery" class="nav-link">Доставка</a>
                </li>
                <li class="nav-item">
                    <a href="../payment" class="nav-link">Оплата</a>
                </li>
                <li class="nav-item">
                    <a href="../orders" class="nav-link">Мои заказы</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="delivery-container">
        <div class="delivery">Доставка курьером в любой регион России.</div>
        <div class="delivery">Стоймость доставки 300 рублей.</div>
    </div>
</body>

</html>