<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>Kerel Anime</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <ul class="nav">
                <li class="nav-item">
                    <a href="../" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="../delivery" class="nav-link">Доставка</a>
                </li>
                <li class="nav-item">
                    <a href="../payment" class="nav-link">Оплата</a>
                </li>
                <li class="nav-item">
                    <a href="../orders" class="nav-link">Мои заказы</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="container">
        <div class="products-list">
            <% products.forEach(function(product){ %>
            <div class="product">
                <a class="product-link" href="product/<%= product._id %>">
                    <div class="product-image">
                        <img src="<%= product.image %>" alt="product photo" />
                    </div>
                    <div class="product-name">
                        <%= product.name_of_product %>
                    </div>
                    <div class="product-price">$
                        <%= product.price %>
                    </div>
                </a>
            </div>
            <% }); %>
            <div class="product">
                <a class="product-link" href="">
                    <div class="product-image">
                        <img src="https://images.goodsmile.info/cgm/images/product/20201021/10258/77742/large/d08c440c83a77513f234ab0716e14288.jpg" alt="product photo" />
                    </div>
                    <div class="product-name">Nendoroid Tanjiro</div>
                    <div class="product-price">$999</div>
                </a>
            </div>
            <div class="product">
                <a class="product-link" href="">
                    <div class="product-image">
                        <img src="https://images.goodsmile.info/cgm/images/product/20200501/9477/69451/large/364a54169669ed4a8ee2d571d0fbfe26.jpg"
                            alt="product photo" />
                    </div>
                    <div class="product-name">Nendoroid Zenitsu</div>
                    <div class="product-price">$999</div>
                </a>
            </div>
    </div>
</body>

</html>