<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <title>Kerel Anime</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <ul class="nav">
                <li class="nav-item">
                    <a href="../" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="../delivery" class="nav-link">Доставка</a>
                </li>
                <li class="nav-item">
                    <a href="../payment" class="nav-link">Оплата</a>
                </li>
                <li class="nav-item">
                    <a href="../orders" class="nav-link">Мои заказы</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="container">
        <div class="orders-form">
            <form method="POST" action="../orders">
                <input type="tel" pattern="[0-9]{10}" class="proceed-phone-number" name="phone_number">
                <button type="submit" class="add-to-cart">Поиск</button>
            </form>
            <small>Формат телефона: 1234567890</small>
        </div>
        <div class="orders-list">
            <% orders.forEach(function(order){ %>
            <div class="order">
                <div class="order-product-name">
                    <%= order.name_of_product %>
                </div>
                <div class="total-price">$
                    <%= order.price %>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>

</html>