<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <title>Kerel Anime</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <ul class="nav">
                <li class="nav-item">
                    <a href="../" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="../delivery" class="nav-link">Доставка</a>
                </li>
                <li class="nav-item">
                    <a href="../payment" class="nav-link">Оплата</a>
                </li>
                <li class="nav-item">
                    <a href="../orders" class="nav-link">Мои заказы</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="product-container">
        <div class="product-proceed-image">
            <img src="<%= product.image %>" alt="product photo" />
        </div>
        <div class="product-content">
            <div class="product-page-id">id:
                <%= product._id %>
            </div>
            <div class="product-page-name">
                <%= product.name_of_product %>
            </div>
            <div class="product-page-price"> $
                <%= product.price %>
            </div>
            <form action="../order/<%= product._id %>" method="POST">
                <input type="tel" pattern="[0-9]{10}" class="proceed-phone-number" name="phone_number">
                <button type="submit" class="add-to-cart">Купить</button>
            </form>
            <small>Формат телефона: 1234567890</small>
        </div>
    </div>
</body>

</html>