html {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}
.wrapper {
  max-width: 1100px;
  margin: 0px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}
.nav .nav-item {
  margin-left: 52px;
}
.nav .nav-link {
  color: #202020;
  text-decoration: none;
}
.container {
  height: 100%;
}
.products-list {
  background-color: rgb(228, 228, 228);
  display: grid;
  padding: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.product {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 5px #aaa;
  text-align: center;
  padding: 1em;
}
.product-image img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}
.add-to-cart {
  margin-top: 10px;
  background-color: #daa520;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.add-to-cart:hover {
  background-color: #c49624;
}
button:focus {
  outline: 0;
}
.product-name {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}
.product-price {
  font-weight: 400;
  margin-top: 5px;
}
.product-link,
.product-link:link {
  text-decoration: none;
  color: #000;
}

.orders-list {
  display: table;
  width: 100%;
  align-items: center;
  padding-top: 3em;
  height: 100%;
  gap: 20px;
}
.order {
  border-radius: 10px;
  width: 300px;
  background-color: rgb(228, 228, 228);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.orders-form {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 3em;
}
.order-product-name {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
}
.total-price {
  font-weight: 500;
  margin-top: 10px;
}

.delivery-container {
  height: 100%;
  padding: 3em;
}
.delivery {
  font-weight: 500;
  font-size: 120%;
}
.payment-container {
  height: 100%;
  padding: 3em;
}
.payment-info {
  font-weight: 500;
  font-size: 120%;
}

.product-container {
  height: 100%;
  margin: 20px 20px 0 0;
  padding: 3em;
  overflow: auto;
}
.product-page-image {
  float: left;
}
.product-page-image img {
  display: block;
  border-radius: 15px;
  width: 500px;
}
.product-content {
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
.product-page-name {
  font-weight: 700;
  font-size: 200%;
}
.product-page-id {
  color: #646464;
}

.product-proceed-image {
  float: left;
}
.product-proceed-image img {
  display: block;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.proceed-phone-number {
  height: 25px;
}
